


# Framework Web Application:
streamlit==1.48.1
Django==5.1.7

# Database Libraries:
sqlalchemy==2.0.42

# Data Manipulation Libraries:

numpy==2.0.2
pandas==2.3.1
numpy==2.0.2
pandas==2.3.1

# UI Framework
flet==0.28.3

# Jupyter Notebook Libraries:
jupyter==1.1.1
notebook==7.4.5
ipywidgets==8.1.7
