


# Framework Web Application:
streamlit==1.46.1
Django==5.1.7

# Database Libraries:
sqlalchemy==2.0.41

# Data Manipulation Libraries:

numpy==1.26.0
pandas==2.3.0
numpy==2.0.2
pandas==2.2.2

# UI Framework
flet==0.28.3

# Jupyter Notebook Libraries:
jupyter==1.1.1
notebook==7.4.3
ipywidgets==8.1.7
